In [27]:
import pandas as pd
import os 
from os import listdir
from os.path import join

In [28]:
final_df = pd.DataFrame()  

folderPath = os.getcwd()
folderPath = folderPath + r'\predictions'
print(folderPath)

fileList = [join(folderPath, f) for f in listdir(folderPath)]
print(fileList)

c:\Users\Thomas\Documents\GitHub\2024CxC\QuadReal\predictions
['c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\46.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\48.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\50.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\51_5.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\53.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\66.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\67.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\68.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\69.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\70.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\72.csv', 'c:\\Users\\Thomas\\Documents\\GitHub\\2024CxC\\QuadReal\\predictions\\74.csv']

In [29]:
for file in fileList:
    final_df = pd.concat([final_df, pd.read_csv(file, header = None)])

In [30]:
test = pd.read_csv('test.csv', header = None)
test[39] = 0
test = test.rename(columns = {0: 1, 1: 2, 2: 3, 39: 39})

end = int(4.6e6)
test = test.iloc[:end]
print(test.head(10))

   1                    2   3   39
0   1  2023-05-12 14:02:23   1   0
1   1  2023-05-12 14:02:23   2   0
2   1  2023-05-12 14:02:23   3   0
3   1  2023-05-12 14:02:23   4   0
4   1  2023-05-12 14:02:23   5   0
5   1  2023-05-12 14:02:23   6   0
6   1  2023-05-12 14:02:23   7   0
7   1  2023-05-12 14:02:23   8   0
8   1  2023-05-12 14:02:23   9   0
9   1  2023-05-12 14:02:23  10   0

In [31]:
final_df = final_df[[1, 2, 3, 39]]
final_df = pd.concat([test, final_df])
final_df = final_df.rename(columns = {1: 'device_id', 2: 'date', 3: 'value_type_id', 39: 'value'})
final_df.info()
final_df.to_csv('submission.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 4800000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   device_id      int64
 1   date           object
 2   value_type_id  int64
 3   value          float64
dtypes: float64(1), int64(2), object(1)
memory usage: 183.1+ MB

   device_id                 date  value_type_id  value
0          1  2023-05-12 14:02:23              1    0.0
1          1  2023-05-12 14:02:23              2    0.0
2          1  2023-05-12 14:02:23              3    0.0
3          1  2023-05-12 14:02:23              4    0.0
4          1  2023-05-12 14:02:23              5    0.0
5          1  2023-05-12 14:02:23              6    0.0
6          1  2023-05-12 14:02:23              7    0.0
7          1  2023-05-12 14:02:23              8    0.0
8          1  2023-05-12 14:02:23              9    0.0
9          1  2023-05-12 14:02:23             10    0.0