In [177]:
%pip install pandas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import pathlib 
import os
cur_path  = os.getcwd()

data_df = pd.read_csv(cur_path + '/account_data_info.csv')
history_df = pd.read_csv(cur_path + '/history.csv')
pd.set_option('display.min_rows', 150)

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Hanqi/Library/Python/3.12/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/Hanqi/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

/var/folders/sv/b643fd993ml6d9g_v9klf5mh0000gn/T/ipykernel_90035/138701694.py:14: DtypeWarning: Columns (87) have mixed types. Specify dtype option on import or set low_memory=False.
  history_df = pd.read_csv(cur_path + '/history.csv')

In [178]:
# deleting rows of account_data_info that dont appear in columns of history
filtered_data_df = data_df[data_df['Columns'].isin(history_df.columns)]

In [179]:
print(data_df.shape)
print(filtered_data_df.shape)
print(history_df.shape)

(111, 3)
(107, 3)
(673339, 106)

In [180]:
# show which rows were deleted
deleted_columns = data_df[~data_df['Columns'].isin(history_df.columns)]['Columns'].tolist()

print(deleted_columns)

print(history_df.isna().sum())

['credit_code', 'closing_date', 'closing_date', 'closure_reason']
id                                         0
type_code                                237
is_registered                              0
country_code                          669050
currency_code                              0
is_active                                  0
class_id                                3198
debit_code                              3198
last_trade_date                       307875
contract_type                          95823
inception_date                          3198
net_of_fees                                0
cashflows_custody_fee                 673339
fee_paid_separately                        0
custody_fee_withdrawal                     0
is_fee_exempt                              0
branch                                  3198
include_client_consolidation               0
use_client_address                         0
credit_limit_type                       3198
retail_plan                           316985
is_spousal                            313694
is_arp_locked                         313694
arp_pension_origin                    632725
language_code                           3198
dividend_confirm_code                   3198
sss_location                          668258
options_trading_type                    3198
sss_type                              668258
sss_agent                             668273
                                       ...
has_received_instruction                   0
risk_tolerance                        145530
investment_objective                  145453
is_broker_account                          0
is_inventory_account                       0
is_gl_account                              0
is_control_account                         0
is_extract_eligible                        0
last_maintenance_time                   3538
last_maintenance_user                   3198
is_pledged                            316985
special_fee_code                      673271
non_calendar_year_end                 316985
plan_effective_date                   316985
plan_end_date                         517718
is_resp                               316985
number_of_beneficiaries               316985
rrif_original_date                    316985
use_original_date_for_payment_calc    316985
is_family_resp                        316985
is_hrdc_resp                          316985
is_plan_grandfathered                 316985
resp_specimen_plan                    650618
inserted_at                                0
updated_at                                 0
is_olob                                    0
retail_last_maintenance_time          316985
retail_last_maintenance_user          317118
visible_in_reports                         0
label                                      0
Length: 106, dtype: int64

In [181]:
# determine columns with more than 95 percent NaN value
threshold_percent = 100

threshold_count = (threshold_percent / 100) * len(history_df)

missing_values_mask = history_df.isna()

missing_values_count = missing_values_mask.sum()

columns_with_more_than_x_missing = missing_values_count[missing_values_count > threshold_count].index.tolist()

print(columns_with_more_than_x_missing)
print(len(columns_with_more_than_x_missing))

[]
0

In [182]:
# checking whether column with >90% NaN important or not
"""
NaN_column = 'resp_specimen_plan'   #replace with >90% Column

df_with_nan_values = history_df[history_df[NaN_column].isna()]

percentage_churn = (df_with_nan_values['label'] == 'Churn').mean() * 100
percentage_no_churn = (df_with_nan_values['label'] == 'No Churn').mean() * 100

print("CHURN PERCENTAGE", percentage_churn)
print("NO CHURN PERCENTAGE", percentage_no_churn)

"""

## trying to create table for all

label_col = 'label'

for i in columns_with_more_than_x_missing:
    df_with_nan_values = history_df[history_df[i].isna()]
    percentage_churn = (df_with_nan_values[label_col] == 'Churn').mean() * 100
    percentage_no_churn = (df_with_nan_values[label_col] == 'No Churn').mean() * 100

    print('Column:', i)
    print("Percentage Churn:", percentage_churn)
    print("Percentage No Churn:", percentage_no_churn)
    print(" ")

In [183]:
# Total churn no churn percentage

percentage_churn = (history_df['label'] == 'Churn').mean() * 100
percentage_no_churn = (history_df['label'] == 'No Churn').mean() * 100
print("Total Chrun No Churn Percentage:")
print("Percentage Churn:", percentage_churn)
print("Percentage No Churn:", percentage_no_churn)

Total Chrun No Churn Percentage:
Percentage Churn: 79.96625770971234
Percentage No Churn: 20.033742290287655

In [184]:
# determining all date colunns and dropping

date_columns = ['last_trade_date', 'inception_date', 'last_update_date', 'non_calendar_year_end', 'plan_effective_date', 'plan_end_date', 'rrif_original_date', 'inserted_at', 'updated_at']
history_df.drop(columns=date_columns)

# dropping select columns
history_df.drop(columns='country_code')

,id,type_code,is_registered,currency_code,is_active,class_id,debit_code,last_trade_date,contract_type,inception_date,...,is_hrdc_resp,is_plan_grandfathered,resp_specimen_plan,inserted_at,updated_at,is_olob,retail_last_maintenance_time,retail_last_maintenance_user,visible_in_reports,label
0,893724,CASH SWEEP,f,CAD,t,3.0,0,NaN,NaN,2017-08-18,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
1,1268094,RRIF,t,CAD,t,5.0,C,2022-07-04,18.0,2018-11-08,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2023-01-03 00:00:00,BATCH,t,Churn
2,606613,SPOUSAL RRSP,t,CAD,t,5.0,A,2018-07-05,16.0,2009-04-08,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2018-07-17 00:00:00,GUERINO,f,Churn
3,741930,CASH,f,CAD,t,3.0,T,NaN,12.0,2021-01-04,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
4,1137922,CASH,f,CAD,t,3.0,T,NaN,17.0,2017-07-21,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 20:52:08.352646+00,f,NaN,NaN,f,Churn
5,1020597,REG RRSP,t,CAD,t,5.0,C,2021-09-10,9.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2019-10-02 00:00:00,BATCH,t,Churn
6,664230,CASH,f,CAD,t,3.0,T,NaN,9.0,2016-12-02,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
7,763789,RESP,t,CAD,t,5.0,C,2023-03-15,17.0,2021-11-18,...,t,f,1008002.0,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2023-04-03 00:00:00,BATCH,t,Churn
8,1124157,TFSA,t,CAD,t,5.0,C,2021-02-16,12.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 23:35:47.440886+00,f,2023-05-19 00:00:00,SUMRAS,t,Churn
9,740778,CASH,f,CAD,t,3.0,T,2021-10-26,8.0,2020-12-15,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
10,975441,RRIF,t,CAD,t,5.0,A,NaN,18.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2019-03-25 00:00:00,BATCH,f,No Churn
11,994729,TFSA,t,CAD,t,5.0,C,2023-03-17,17.0,2019-02-11,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 23:34:09.791715+00,f,2023-05-08 00:00:00,BATCH,t,Churn
12,827061,CASH,f,CAD,t,3.0,T,2023-06-26,11.0,2017-07-21,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 20:59:50.180094+00,f,NaN,NaN,t,Churn
13,570094,CASH,f,CAD,t,3.0,Y,NaN,9.0,2022-11-04,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
14,1186742,CASH,f,CAD,t,3.0,T,2022-06-14,18.0,2017-07-21,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
15,1496317,TFSA,t,CAD,t,5.0,C,2021-08-13,12.0,2021-08-06,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2021-08-06 00:00:00,HANGE,t,Churn
16,980877,RRIF,t,CAD,t,5.0,C,2023-04-25,17.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 23:36:43.89975+00,f,2023-05-25 00:00:00,BALACHS,t,Churn
17,783882,TFSA,t,CAD,t,5.0,C,NaN,17.0,2022-11-30,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2022-12-05 00:00:00,BATCH,t,Churn
18,1154109,SPOUSAL RRSP,t,CAD,f,5.0,C,NaN,12.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2018-06-15 00:00:00,BATCH,f,No Churn
19,675835,TFSA,t,CAD,t,5.0,C,2021-02-23,16.0,2017-11-28,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2019-10-02 00:00:00,BATCH,t,Churn
20,780861,TFSA,t,CAD,t,5.0,C,2023-04-26,18.0,2022-10-14,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 23:32:52.632688+00,f,2023-04-28 00:00:00,SUMRAS,t,Churn
21,1178152,CASH,f,CAD,t,3.0,T,2021-02-26,7.0,2017-07-21,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
22,763543,REG RRSP,t,CAD,t,5.0,C,NaN,17.0,2021-11-16,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2021-11-16 00:00:00,T80,t,Churn
23,1493150,COD,f,CAD,f,39.0,A,2015-09-03,NaN,1996-11-19,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
24,783522,REG RRSP,t,CAD,t,5.0,C,NaN,17.0,2022-11-18,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2022-11-18 00:00:00,COMPAS3,t,Churn
25,851707,LIRA/LRSP/RLSP,t,CAD,t,5.0,C,2020-04-14,12.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2020-06-01 00:00:00,FENGR,t,Churn
26,1126501,CASH,f,CAD,t,3.0,T,NaN,18.0,2019-09-26,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 21:02:34.445472+00,f,NaN,NaN,f,Churn
27,1630385,MRGN,f,USD,t,3.0,A,NaN,12.0,2006-07-14,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
28,1068789,TFSA,t,CAD,t,5.0,C,2021-09-10,18.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2022-03-16 00:00:00,RAMOSM,t,Churn
29,1264482,RESP,t,CAD,t,5.0,C,2021-07-06,17.0,2018-07-25,...,t,f,1008003.0,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2019-10-04 00:00:00,BATCH,t,Churn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673309,1049636,SPOUSAL RRIF,t,CAD,t,5.0,A,NaN,NaN,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2022-11-01 00:00:00,T80,f,Churn
673310,905548,RESP,t,CAD,t,5.0,C,2022-12-21,17.0,2017-07-21,...,t,f,1008002.0,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2023-01-03 00:00:00,BATCH,t,Churn
673311,703103,RESP,t,CAD,t,5.0,C,2019-02-27,16.0,2014-10-21,...,t,f,1008003.0,2023-05-30 14:20:18.531115+00,2023-08-10 23:48:29.560362+00,f,2023-08-01 00:00:00,BATCH,t,Churn
673312,910576,CASH SWEEP,f,CAD,t,3.0,A,NaN,NaN,2017-08-18,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
673313,967691,CASH SWEEP,f,CAD,t,3.0,A,NaN,NaN,2017-08-18,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
673314,918770,CASH SWEEP,f,CAD,t,3.0,A,NaN,NaN,2017-08-18,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
673315,1132351,REG RRSP,t,CAD,t,5.0,A,2022-01-17,10.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2022-01-25 00:00:00,GODIN2,f,No Churn
673316,582678,REG RRSP,t,CAD,t,5.0,A,2016-11-23,12.0,2002-09-18,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2022-10-04 00:00:00,T80,f,No Churn
673317,1088427,LIRA/LRSP/RLSP,t,CAD,t,5.0,C,2022-11-15,17.0,2018-08-28,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2023-01-16 00:00:00,SUMRAS,t,Churn
673318,758261,TFSA,t,CAD,t,5.0,C,NaN,18.0,2021-08-23,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2021-08-23 00:00:00,T80,t,Churn
673319,788805,CASH,f,CAD,t,3.0,T,NaN,18.0,2023-03-01,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
673320,587539,RRIF,t,CAD,t,5.0,C,2023-01-09,18.0,2022-05-18,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2023-01-13 00:00:00,T80,t,Churn
673321,576678,CASH,f,CAD,t,3.0,T,NaN,17.0,2023-03-09,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
673322,600709,CASH,f,CAD,t,3.0,T,2022-06-02,17.0,2009-04-02,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
673323,656066,MRGN,f,CAD,t,7.0,A,2016-04-29,18.0,2013-01-21,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
673324,824099,CASH,f,CAD,t,3.0,T,NaN,17.0,2019-11-07,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
673325,1009527,RRIF,t,CAD,t,5.0,C,2019-12-06,17.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2021-01-04 00:00:00,TALANGE,f,No Churn
673326,762953,REG RRSP,t,CAD,t,5.0,A,NaN,18.0,2021-11-05,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 23:44:36.747779+00,f,2023-07-10 00:00:00,BATCH,f,No Churn
673327,811121,CASH,f,CAD,t,3.0,T,2021-11-08,17.0,2017-07-21,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
673328,864955,SPOUSAL RRSP,t,CAD,t,5.0,A,NaN,7.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2022-10-21 00:00:00,GODIN2,f,Churn
673329,1618829,CASH,f,USD,t,6.0,A,NaN,17.0,2017-11-16,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
673330,711425,CASH,f,USD,t,6.0,T,NaN,12.0,2018-06-22,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
673331,1218529,TFSA,t,CAD,t,5.0,C,2022-10-20,17.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 23:33:32.093871+00,f,2023-05-02 00:00:00,CROSBYJ,t,Churn
673332,1032863,CASH SWEEP,f,CAD,t,3.0,0,NaN,0.0,2018-03-07,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn
673333,574623,REG RRSP,t,CAD,t,5.0,C,NaN,9.0,2023-02-09,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2023-02-14 00:00:00,T80,t,Churn
673334,6827067,LIRA/LRSP/RLSP,t,CAD,t,5.0,C,NaN,18.0,2023-06-27,...,f,f,NaN,2023-06-28 05:43:05.926802+00,2023-08-10 23:42:33.933152+00,f,2023-06-28 00:00:00,BATCH,t,Churn
673335,590659,REG RRSP,t,CAD,f,5.0,A,2017-06-28,18.0,2006-11-23,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2018-06-12 00:00:00,BATCH,f,No Churn
673336,1247774,CASH,f,CAD,t,3.0,T,2021-09-24,16.0,2019-08-30,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,t,Churn
673337,1155640,RRIF,t,CAD,t,5.0,C,NaN,17.0,2017-07-21,...,f,f,NaN,2023-05-30 14:20:18.531115+00,2023-08-10 21:47:25.370403+00,f,2023-04-04 00:00:00,T80,t,Churn
673338,1148378,CASH SWEEP,f,CAD,t,3.0,A,NaN,NaN,2017-08-18,...,NaN,NaN,NaN,2023-05-30 14:20:18.531115+00,2023-08-08 18:53:01.439561+00,f,NaN,NaN,f,Churn

In [185]:
# removing object value and filling NaN's

# bool columns 
for i in history_df.columns:
    if 'f' in history_df[i].values:
        history_df[i] = history_df[i].replace({'f': False, 't': True}).fillna(True)

# number columns
history_df[history_df.select_dtypes(include=['number']).columns] = history_df.select_dtypes(include=['number']).astype('float64')
def replace_nan_with_mode(column):
    if column.dtype == 'float64':
        mode_values = column.mode()
        if not mode_values.empty:
            mode_value = mode_values.iloc[0]
            return column.fillna(mode_value)
    return column

history_df = history_df.apply(replace_nan_with_mode)

/var/folders/sv/b643fd993ml6d9g_v9klf5mh0000gn/T/ipykernel_90035/2707164870.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  history_df[i] = history_df[i].replace({'f': False, 't': True}).fillna(True)
/var/folders/sv/b643fd993ml6d9g_v9klf5mh0000gn/T/ipykernel_90035/2707164870.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  history_df[i] = history_df[i].replace({'f': False, 't': True}).fillna(True)

In [186]:
print(history_df.isna().sum())

id                                         0
type_code                                237
is_registered                              0
country_code                          669050
currency_code                              0
is_active                                  0
class_id                                   0
debit_code                              3198
last_trade_date                       307875
contract_type                              0
inception_date                          3198
net_of_fees                                0
cashflows_custody_fee                 673339
fee_paid_separately                        0
custody_fee_withdrawal                     0
is_fee_exempt                              0
branch                                  3198
include_client_consolidation               0
use_client_address                         0
credit_limit_type                          0
retail_plan                           316985
is_spousal                                 0
is_arp_locked                              0
arp_pension_origin                    632725
language_code                           3198
dividend_confirm_code                      0
sss_location                          668258
options_trading_type                       0
sss_type                              668258
sss_agent                             668273
                                       ...
has_received_instruction                   0
risk_tolerance                        145530
investment_objective                  145453
is_broker_account                          0
is_inventory_account                       0
is_gl_account                              0
is_control_account                         0
is_extract_eligible                        0
last_maintenance_time                   3538
last_maintenance_user                   3198
is_pledged                                 0
special_fee_code                      673271
non_calendar_year_end                 316985
plan_effective_date                   316985
plan_end_date                         517718
is_resp                                    0
number_of_beneficiaries                    0
rrif_original_date                    316985
use_original_date_for_payment_calc         0
is_family_resp                             0
is_hrdc_resp                               0
is_plan_grandfathered                      0
resp_specimen_plan                         0
inserted_at                                0
updated_at                                 0
is_olob                                    0
retail_last_maintenance_time          316985
retail_last_maintenance_user          317118
visible_in_reports                         0
label                                      0
Length: 106, dtype: int64